@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.32rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


/*.wrap::-webkit-scrollbar {
    display: none;
}
*/
.nav{
	width: 6.4rem;
	height: 0.9rem;
	background-color: #50bbdb;
	display: flex;
}
.Nleft{
	width: 1.50rem;
	display: flex;
}
.Nleft>img{
	width: 0.56rem;
	height: 0.56rem;
	padding-top: 0.2rem;
	padding-left: 0.14rem;
}
.Nleft>p{
	color: #fff;
	font-size: 0.18rem;
	line-height: 1rem;
	padding-left: 0.04rem;
}
.Nmain{
	width: 3.34rem;
	display: flex;
}
.Nmain>div{
	width: 1.67rem;
	height: 0.38rem;
	font-size: 0.28rem;
	text-align: center;
	margin-top: 0.25rem;

}
.Nmain>.one{
	background-color: #fff;
	border-radius: 5px 0 0 5px;
	color: #50bbdb;
	margin-left: 0.1rem;
	position: relative;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.Nmain>.one>img{
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 0.1rem;
	height: 0.1rem;
}
.Nmain>.two{
	border-radius:0 5px 5px 0;
	color: #fff;
	border: 1px solid #fff;
	box-sizing: border-box;
	position: relative;
}
.Nmain>.two>img{
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 0.1rem;
	height: 0.1rem;
	display: none;
}
.Nright>img{
	width: 0.56rem;
	height: 0.56rem;
	padding-left: 0.85rem;
	padding-top: 0.2rem;
}
.banner{
	width: 6.4rem;
	position: relative;
}
.banner>.img{
	display: flex;
	width: 6.4rem;
	overflow: hidden;
}
.banner>.img img{
	width: 6.4rem;
	height: 2.25rem;
}
.sousuo{
	display: flex;
}
.sousuo>input{
 	width: 4rem;
 	height: 0.45rem;
 	outline:none;
 	border:1px solid #50bbdb;
 	background-color:transparent;
 	position: absolute;
 	top: 1rem;
 	left: 1.2rem;
 	z-index: 2;
 	border-radius: 0.1rem;
}
.sousuo i{
 font-style: 0.16rem;
 color: #50bbdb;
 position: absolute;
 top: 1.1rem;
 left: 4.75rem;
 z-index: 2;
}

.sousuo>a{
 display: block;
 text-decoration: none;
 z-index: 2;
}
.target{
	width: 6.4rem;
	display: flex;
	padding: 0.32rem 0 0.32rem 0;
}
.target>div{
	width: 1.24rem;
	height: 1.24rem;
	border-radius: 50%;
	font-size: 0.24rem;
	text-align: center;
	border: 2px solid #ececec;
	line-height: 1.24rem;
	box-sizing: border-box;
	color: #a7a7a7;
}
.target>.one{
	margin-left: 0.8rem;
	border: 2px solid #50bbdb;
	color: #50bbdb;
	box-sizing: border-box;
}
.target>.two{
	margin:0 0.54rem;
}
.target>.two>a{
	text-decoration: none;
	color: #a7a7a7;
}
.target>.three>a{
	text-decoration: none;
	color: #a7a7a7;
}
.pic{
	width: 6.4rem;
}
.pic img{
	width: 6.21rem;
	height: 1.96rem;
	padding: 0 0.1rem 0.1rem 0.1rem;
}
.pic>div>a{
	text-decoration: none;color: #000;
	font-size: 0.2rem;
	display: block;
}
.pic>div>a{
	position: relative;
}
.pic>div>a>.one{
	font-size: 0.2rem;
	color: #fff;
	position: absolute;
	top: 0.1rem;
	left: 0.22rem;
}
.pic>div>a>.two{
	font-size: 0.16rem;
	color: #fff;
	position: absolute;
	top: 1.7rem;
	left: 0.22rem;
}

.pic .none{
	display: none;
}
.pic .duo{
	margin-bottom: 1.2rem;
}
.more{
	background-color: #f1f1f1;
	width: 6.4rem;
	margin-bottom: 1.3rem;
}
.more div{
	width: 1.3rem;
	margin: 0 auto;
	display: flex;
}
.more div p{
	font-size: 0.2rem;
	color: #999999;
	line-height: 0.7rem;
}
.more div i{
	color: #8f8f8f;
	font-size: 0.26rem;
	line-height: 0.66rem;
	padding-left: 0.1rem;
}
.buttom{
	background-color: #fff;
	width: 6.4rem;
	display: flex;
	position: fixed;
	bottom: 0;
	z-index: 1000
}
.buttom>div{
	width: 1.6rem;
	text-align: center;
	padding-top: .1rem;
}
.buttom>div>a{
	text-decoration: none;
}
.buttom>div>a>i{
	font-size: 0.46rem;
	color: #7f7f7f;
}
.buttom>div>a>p{
	margin-bottom: 0.1rem;
	font-size: 0.2rem;
	color: #7f7f7f;
	padding-top: 0.1rem;
}

.ban{
	background-color: #fff;
	width: 1.04rem;
	height: 0.57rem;
	border-radius: 0.5rem 0.5rem 0.01rem 0.01rem ;
	border: 0.01rem solid #fff;
	color: #fff;
	font-size: 0.16rem;
	position: absolute;
	bottom: 0.1rem;
	right: 0.1rem;
}
.ban .dian{
	background-color: #f0884d;
	width: 1rem;
	height: 0.5rem;
	border-radius: 0.5rem 0.5rem 0.01rem 0.01rem ;
	margin: 0 auto;
	margin-top: 0.05rem;
	
}
.dian>div{
	display: flex;
	margin: 0;
	text-align: center;
	padding-top: 0.2rem;
	padding-left: 0.1rem
}
.dian>div>p{
	font-size: 0.26rem;
	padding: 0;

}