@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.32rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.nav{
	width: 6.4rem;
	height: 0.9rem;
	background-color: #50bbdb;
	display: flex;
}
.nav>a>img{
	width: 0.44rem;
	padding-top: 0.24rem;
	padding-left: 0.3rem;
}
.nav>p{
	color: #fff;
	font-size: 0.32rem;
	line-height: 1rem;
	padding-left: 1.95rem;
}
.banner{
	width: 6.4rem;
	position: relative;
}
.banner>img{
	width: 6.4rem;
}
.banner>p{
	font-size: 0.24rem;
	color: #fff;
	position: absolute;
	bottom: 0.09rem;
	left: 0.22rem;
}
.target{
	width: 6.4rem;
	display: flex;
}
.target>div{
	width: 5.32rem;
	border-right: 1px solid #cccccc;
	margin:0.18rem 0 0.16rem 0.3rem;
}
.target>div>h3{
	font-size: 0.25rem;
	padding-bottom: 0.15rem
}
.target>div>div{
	font-size: 0.14rem;
	color: #f0851a;
	display: flex;

}
.target>div>div>span{
	font-size: 0.25rem;
}
.target>div>div>p{
	color: #ccc;
	padding-top: 0.04rem;
}
.target>i{
	font-size: 0.4rem;
	color: #7c7c7c;
	padding-top: 0.3rem;
	padding-left: 0.15rem
}

.diwen{
	width: 6.4rem;
	height: 0.12rem;
}
.diwen>img{
	width: 6.4rem;
}

.date{
	background-color: #e5e5e5;
	width: 6.4rem;
	height: 2.15rem;
	border: 1px solid #e5e5e5;
}
.date>.li{
	background-color: #fff;
	width: 6.16rem;
	margin: 0 auto;
	border: 1px solid #c5c3c3;
	border-radius: 0.2rem;
	display: flex;
	margin-top: 0.3rem;
}
.date>.li>div{
	width: 5.3rem;
	margin-left: 0.18rem;
}
.date>.li>div>h3{
	font-size: 0.28rem;
	line-height: 0.7rem;
	color: #5d5d5d;
}
.date>.li>div>div{
	display: flex;
	margin-bottom: 0.2rem;
}
.date>.li>div>div>p{
	padding: 0.04rem 0.14rem;
	font-size: 0.24rem;
	border: 1px solid #e5e5e5;
	width: 0.6rem;
}
.date>.li>div>div>span{
	display: block;
	padding: 0.1rem 0.14rem;
	font-size: 0.24rem;
	border: 1px solid #e5e5e5;
	width: 0.65rem;
	margin-left: 0.2rem;
}
.date>.li>a{
	display: block;
	text-decoration: none;
	line-height: 1.3rem
}
.date>.li>a>i{
	font-size: 0.4rem;
	color: #7c7c7c;
	padding-top: 0.5rem;
	padding-left: 0.15rem
}
.xc{
	width: 6.4rem;
	border-bottom: 1px solid #ececec;
	display: flex;
	position: relative;
}
.xc>p{
	width: 2.05rem;
	text-align: center;
	font-size: 0.26rem;
	line-height: 0.64rem;
}
.xc>.one{
	color: #50bbdb;
}
.xc>div{
	width: 2rem;
	height: 0.03rem;
	background-color: #50bbdb;
	position: absolute;
	left: 0;
	bottom: -0.01rem;
}
.ts{
	width: 6.4rem;
	background-color: #f5f5f5;
	display: flex;
	margin-top: 0.32rem;
	margin-bottom: 0.15rem;
}
.ts>div{
	width: 2.58rem;
	height: 0.02rem;
	background-color: #dcdcdc;
	margin-top: 0.3rem;
}
.ts>p{
	font-size: 0.26rem;
	line-height: 0.6rem;
	color: #757575;
	padding: 0.05rem 0.1rem 0 0.1rem;
}
.ts>p>a{
	color: #757575;
	text-decoration: none;
}

.xcts{
	width: 6.4rem;
}
.xcts>div{
	padding-top: 0.2rem;
	width: 5.6rem;
	margin: 0 auto;
	display: flex;
}
.xcts>div>h3{
	font-size: 0.24rem;
	line-height: 0.35rem;
	width: 1.5rem;
}
.xcts>div>p{
	font-size: 0.24rem;
	line-height: 0.35rem;
	color: #757575;
}
.xcts>img{
	width: 5.8rem;
	padding:0.18rem 0.3rem;
}
.tiao{
	width: 6.4rem;
	height: 0.22rem;
	background-color: #d4d4d4;
	margin-top: 0.2rem;
}
.nr{
	width: 6.4rem;
	margin-bottom: 0.2rem;
}
.nr>div{
	display: flex;
	width: 5.8rem;
	margin: 0 auto;
	
}
.nr>.one{
	padding-top: 0.3rem;
}
.nr>.one>img{
	height: 4.1rem;
}
.nr>.two>img{
	height: 13rem;
}
.nr>.three>img{
	height: 13.2rem;
}
.nr>div>img{
	width: 0.24rem;
}
.nr>div>div>h3{
	color: #50bbdb;
	font-size: 0.26rem;
	width: 5rem;
	height: 0.4rem;
	border-bottom: 0.01rem solid #50bbdb;
	margin-left: 0.12rem;
}
.nr>div>div>p{
	font-size: 0.22rem;
	width: 5rem;
	height: 0.6rem;
	border-bottom: 0.01rem dashed #8f8f8f;
	margin-left: 0.12rem;
	line-height: 0.65rem;
	padding-top: 0.1rem;
}
.nr>div>div>span{
	display: block;
	font-size: 0.2rem;
	width: 4.66rem;
	margin-left: 0.12rem;
	line-height: 0.36rem;
	padding-top: 0.18rem;
	color: #8a8a8a;
}
.nr>div>div>img{
	width:5rem;
	padding-left: 0.15rem;
	padding-top: 0.12rem;
}
.nr>div>div>img:last-child{
		padding-bottom: 0.2rem;
}
.white{
	width: 6.4rem;
}
.white>div{
	width: 5.4rem;
	margin: 0 auto;	
	padding-top: 0.2rem;
}
.white>.one{
	padding-bottom: 0.2rem;

}
.white>div>h3{
	font-size: 0.26rem;
	line-height: 0.4rem
}
.white>div>p{
	font-size: 0.18rem;
	line-height: 0.32rem;
}
.js{
	width: 6.4rem;
}
.js>div{
	width: 5.76rem;
	margin: 0 auto;
	padding-top: 0.15rem;
	display: flex;
}
.js>.one{
	border-bottom: 1px dashed #8f8f8f;
	height: 0.5rem;
}
.js>div>div{
	font-size: 0.24rem;
	color: #6b6b6b;
	width: 5.5rem;
}
.js>div>a{
	text-decoration: none;
	color: #8f8f8f;
}
.js>div>i{
	font-size: 0.2rem;
	
}
.js>div>img{
	width: 1rem;
	height: 1rem;
}
.js>div>p{
	width: 4.6rem;
	font-size: 0.22rem;
	color: #8f8f8f;
	padding:0.2rem 0 0.2rem 0.2rem; 
}
.js>.two{
	padding-bottom: 0.1rem;
}
.talk{
	width: 6.4rem;
}
.talk>.top{
	width: 6.4rem;
	margin: 0 auto;
	display: flex;
	padding: 0.2rem 0;
	border-bottom: 1px solid #ececec;

}
.talk>.top>div{
	display: flex;
	width: 2.52rem;
	border-right: 1px solid #ececec;
	padding-left: 0.32rem;
}
.talk>.top>div>p{
	width: 1rem;
	font-size: 0.2rem;
}
.talk>.top>div>img{
	width: 1.12rem;
	height: 0.22rem;
}
.talk>.top>p{
	width: 2rem;
	text-align: center;
	font-size: 0.2rem;
	border-right: 1px solid #ececec;
}
.talk>.top>p:last-child{
	border: 0
}
.talk>.bottom{
	width: 5.7rem;
	margin: 0 auto;
}
.talk>.bottom>.one{
	width: 5.7rem;
	display: flex;
	border-bottom: 1px dashed #ececec;
}
.talk>.bottom>.one>div{
	width: 2.2rem;
	display: flex;
}
.talk>.bottom>.one>.a>img{
	width: 0.6rem;
	height: 0.56rem;
	padding: 0.07rem 0.2rem 0.1rem 0rem;
}
.talk>.bottom>.one>.a>p{
	font-size: 0.2rem;
	line-height: 0.8rem;
}
.talk>.bottom>p{
	font-size: 0.2rem;
	color: #989898;
	line-height: 0.3rem
}
.talk>.bottom>.a{
	padding: 0.07rem 0;
}
.talk>.bottom>.one>.b>p{
	width: 1rem;
	font-size: 0.2rem;
	line-height: 0.8rem;

}
.talk>.bottom>.one>.b>img{
	width: 1.12rem;
	height: 0.22rem;
	padding-top: 0.25rem;
}
.talk>.bottom>.one>p{
	font-size: 0.2rem;
	line-height: 0.8rem;
	padding-left: 0.2rem;
	color: #8f8f8f;width: 3rem;
}
.talk>.bottom>.two>img{
	width: 1.05rem;
	height: 0.64rem;
	padding: 0.2rem 0;
}
.hui{
	width: 6.4rem;
	height: 0.15rem;
	background-color: #cccccc;
}
.talk>.bottom>.op{
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.love{
	background-color: #f4f4f4;
	width: 6.4rem;
	margin-bottom: 1.5rem;
}
.love>div{
	display: flex;
	width: 5.9rem;
	margin: 0 auto;
	padding-top: 0.3rem;
}
.love>div>h3{
	width: 1.7rem;
	color: #eb7148;
	font-size: 0.2rem;
}
.love>div>p{
	width: 3.8rem;
	color: #797979;
	font-size: 0.2rem;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
}

.warp>.buttom{
	width: 6.4rem;
	height: 1.1rem;
	display: flex;
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #fff;
}

.warp>.buttom>.one{
	border-right: 1px solid #ececec;
}
.warp>.buttom>div{
	padding: 0.1rem;
}
.warp>.buttom>div>i{
	font-size: 0.46rem;
	color: #7f7f7f;
}
.warp>.buttom>div>p{
	width: 1.6rem;
	font-size: 0.2rem;
	color: #7f7f7f;
	margin-bottom: 0;
	padding-top: 0.1rem;
}
.warp>.buttom>.three{
	width: 3.21rem;
	background-color: #50bbdb;
	padding-top: 0.4rem;
}
.warp>.buttom>.three>a{
	text-decoration: none;
	color: #fff;
	font-size: 0.3rem;
}
.Top{
	width: 0.7rem;
	height: 0.5rem;
	text-align: center;
	background-color: #50bbdb;
	border-radius: 0.1rem;
	position: fixed;
	bottom: 1.5rem;
	right: -0.7rem;
}
.Top>a{
	font-size: 0.2rem;
	color: #fff;
	line-height: 0.3rem;
	text-decoration: none;
	line-height: 0.5rem;
}