@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:0.32rem;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


.nav{
	width: 6.4rem;
	height: 0.9rem;
	background-color: #50bbdb;
	display: flex;
}
.Nleft{
	width: 1.50rem;
	display: flex;
}
.Nleft>img{
	width: 0.56rem;
	height: 0.56rem;
	padding-top: 0.2rem;
	padding-left: 0.14rem;
}
.Nleft>p{
	color: #fff;
	font-size: 0.18rem;
	line-height: 1rem;
	padding-left: 0.04rem;
}
.Nmain{
	width: 3.34rem;
	display: flex;
}
.Nmain>div{
	width: 1.67rem;
	height: 0.38rem;
	font-size: 0.28rem;
	text-align: center;
	margin-top: 0.25rem;

}
.Nmain>.one{
	background-color: #fff;
	border-radius: 5px 0 0 5px;
	color: #50bbdb;
	margin-left: 0.1rem;
	border: 1px solid #fff;
	box-sizing: border-box;
	position: relative;
}
.Nmain>.one>img{
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 0.1rem;
	height: 0.1rem;
}
.Nmain>.two{
	border-radius:0 5px 5px 0;
	color: #fff;
	border: 1px solid #fff;
	box-sizing: border-box;
	position: relative;
	}
.Nmain>.two>img{
	position: absolute;
	right: 2px;
	bottom: 2px;
	width: 0.1rem;
	height: 0.1rem;
	display: none;
}
.Nright>img{
	width: 0.56rem;
	height: 0.56rem;
	padding-left: 0.85rem;
	padding-top: 0.2rem;
}

.banner{
	width: 6.4rem;
}
.banner img{
	width: 6.4rem;
}
.sou{
	position: relative;
}
.sou input{
 	width: 4rem;
 	height: 0.45rem;
 	outline:none;
 	border:1px solid #50bbdb;
 	background-color:transparent;
 	display: block;
 	border-radius: 0.3rem;
 	margin: 0 auto;
 	margin-top: 0.38rem;
}
.sou i{
 font-style: 0.16rem;
 color: #50bbdb;
 position: absolute;
 top: 0.1rem;
 left: 4.75rem;
  z-index: 2;
}
.sou>a{
 display: block;
 text-decoration: none;
 z-index: 2;
}

.jing{
	width: 6.4rem;
	display: flex;
	padding-top: 0.36rem;
	padding-bottom: 0.25rem;
}
.jing>img{
	width: 2.78rem;
	margin: 0 auto;
}
.jing>p{
	font-size: 0.26rem;

}
.pic{
	width: 6.4rem;
	margin-bottom: 1rem;
}
.pic img{
	width: 6.4rem;
	height: 1.96rem;
}
.pic>.none{
	display: none;
}
.pic>a{
	display: block;
	position: relative;
}
.pic>a>.one{
	font-size: 0.2rem;
	color: #fff;
	position: absolute;
	top: 0.1rem;
	left: 0.22rem;
}
.pic>a>.two{
	font-size: 0.16rem;
	color: #fff;
	position: absolute;
	top: 1.7rem;
	left: 0.22rem;
}
.ban{
	background-color: #fff;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	border: 0.01rem solid #fff;
	color: #fff;
	font-size: 0.16rem;
	position: absolute;
	bottom: -0.45rem;
	right: 0.1rem;
}
.ban .dian{
	background-color: #f0884d;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 0.05rem;
	
}
.dian>div{
	display: flex;
	margin: 0;
	text-align: center;
	padding-top: 0.2rem;
	padding-left: 0.1rem
}
.dian>div>p{
	font-size: 0.26rem;
	padding: 0;
	padding-bottom: 0.1rem;
}
.pic .three{
	font-size: 0.18rem;
	padding-left: 0.25rem;
	line-height: 0.5rem;
}
.pic a{
	display: block;
	text-decoration: none;
	color: #000;
}

.pic>a>.xian{
	width: 0.95rem;
	height: 0.01rem;
	background-color: #fff;
	position: absolute;
	bottom: 0.01rem;
	right: 0.2rem;
}
.pic>p{
	padding-bottom: 0.1rem
}
.more{
	width: 6.4rem;	
	background-color: #f1f1f1;
}
.more div{
	width: 1.2rem;
	margin: 0 auto;
	display: flex;
}
.more i{
	font-size: 0.26rem;
	color: #eb6417;
	line-height: 0.7rem;
}
.more p{
	font-size: 0.24rem;
	line-height: 0.6rem;
	color: #eb6417;
	padding-left: 0.2rem;
	padding-top: 0.08rem;
}
.duoduo{
	padding-bottom: 0.4rem;
}

.pic>.jing{
	width: 6.4rem;
	display: flex;
	padding-top: 0.36rem;
	padding-bottom: 0.25rem;
}
.pic>.jing>img{
	width: 2.78rem;
	height: 0.3rem;
	margin: 0 auto;
}
.pic>.jing>p{
	font-size: 0.26rem;
}
.buttom{
	background-color: #fff;
	width: 6.4rem;
	display: flex;
	position: fixed;
	bottom: 0;
}
.buttom>div{
	width: 1.6rem;
	text-align: center;
	padding-top: .1rem;
}
.buttom>div>a{
	text-decoration: none;
}
.buttom>div>a>i{
	font-size: 0.46rem;
	color: #7f7f7f;
}
.buttom>div>a>p{
	padding-top: 0.1rem;
	font-size: 0.2rem;
	color: #7f7f7f;
	margin-bottom: 0.1rem;
	
}
